xml-resources/web-service-references/ProductCatalog/wsdl/localhost_8080/Week2Lab1/ProductCatalog.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://webservice.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.my/">

<xs:element name="fetchProductDetail" type="tns:fetchProductDetail"/>

<xs:element name="fetchProductDetailResponse" type="tns:fetchProductDetailResponse"/>

<xs:element name="firstMethod" type="tns:firstMethod"/>

<xs:element name="firstMethodResponse" type="tns:firstMethodResponse"/>

<xs:complexType name="fetchProductDetail">
<xs:sequence>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProductDetailResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="firstMethod">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="firstMethodResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>